@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-color: #3182ce transparent transparent transparent;
  animation: spin 1s linear infinite;
}
textarea::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}
.message-box::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}
